.Uploader {
  margin: 4vmin;
  padding: 4vmin;
  width: 40vmin;

  align-self: center;

  align-items: center;
  justify-content: center;

  color: white;
  font-size: 16px;
  background-color: lightslategray;
  border-radius: 2vmin;
}

.option {
  margin-bottom: 10px;
}

.il {
  display: inline-block;
}
h4 {
  margin-bottom: 5px;
}
